In [1]:
import pandas as pd 
from bs4 import BeautifulSoup
import requests

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers = headers ).text

In [3]:
soup = BeautifulSoup(webpage, 'lxml')

In [34]:
company = soup.find_all("div", class_="companyCardWrapper__primaryInformation")

In [35]:
len(company)

20

In [64]:
name = []
for i in company:
    name.append((i.find('h2',class_="companyCardWrapper__companyName").text.strip()))

In [125]:
ratting = (soup.find_all('span',class_="companyCardWrapper__companyRatingCount"))
ratings = []
for i in ratting:
    ratings.append(i.text.strip())

In [103]:
ratings

['(1.1L)',
 '(71.8k)',
 '(63.8k)',
 '(60.1k)',
 '(51.8k)',
 '(51k)',
 '(47.6k)',
 '(45.2k)',
 '(44.8k)',
 '(42.5k)',
 '(41.1k)',
 '(37k)',
 '(33.1k)',
 '(32.5k)',
 '(31.5k)',
 '(31k)',
 '(27.2k)',
 '(27.1k)',
 '(26k)',
 '(25.4k)']

In [ ]:
detail = []
details = (soup.find_all('span',class_='companyCardWrapper__interLinking'))
for i in details:
    detail.append(i.text.strip())

In [114]:
detail

['IT Services & Consulting | Bengaluru +439 other locations',
 'IT Services & Consulting | Bengaluru +256 other locations',
 'IT Services & Consulting | Hyderabad +370 other locations',
 'IT Services & Consulting | Hyderabad +230 other locations',
 'IT Services & Consulting | Bengaluru +182 other locations',
 'Banking | Mumbai +1835 other locations',
 'IT Services & Consulting | Bengaluru +248 other locations',
 'Banking | Mumbai +1440 other locations',
 'IT Services & Consulting | Chennai +230 other locations',
 'IT Services & Consulting | Hyderabad +331 other locations',
 'IT Services & Consulting | Hyderabad +181 other locations',
 'BPO | Mumbai +255 other locations',
 'Telecom | Mumbai +1951 other locations',
 'Banking | Mumbai +1509 other locations',
 'BPO | Bengaluru +178 other locations',
 'Internet | Bengaluru +520 other locations',
 'BPO | Noida +51 other locations',
 'Retail | Mumbai +1156 other locations',
 'IT Services & Consulting | Bengaluru +145 other locations',
 'IT Services & Consulting | Bengaluru +161 other locations']

In [ ]:
print(name[0] + "\n" + ratings[0] + "\n" + detail[0])

TCS
(1.1L)
IT Services & Consulting | Bengaluru +439 other locations

In [161]:
d = {
    "name": name,
    "rating": ratings,
    "detail": detail
}
df = pd.DataFrame(d)

In [162]:
df

,name,rating,detail
0,TCS,(1.1L),IT Services & Consulting | Bengaluru +439 othe...
1,Accenture,(71.8k),IT Services & Consulting | Bengaluru +256 othe...
2,Wipro,(63.8k),IT Services & Consulting | Hyderabad +370 othe...
3,Cognizant,(60.1k),IT Services & Consulting | Hyderabad +230 othe...
4,Capgemini,(51.8k),IT Services & Consulting | Bengaluru +182 othe...
5,HDFC Bank,(51k),Banking | Mumbai +1835 other locations
6,Infosys,(47.6k),IT Services & Consulting | Bengaluru +248 othe...
7,ICICI Bank,(45.2k),Banking | Mumbai +1440 other locations
8,HCLTech,(44.8k),IT Services & Consulting | Chennai +230 other ...
9,Tech Mahindra,(42.5k),IT Services & Consulting | Hyderabad +331 othe...
10,Genpact,(41.1k),IT Services & Consulting | Hyderabad +181 othe...
11,Teleperformance,(37k),BPO | Mumbai +255 other locations
12,Jio,(33.1k),Telecom | Mumbai +1951 other locations
13,Axis Bank,(32.5k),Banking | Mumbai +1509 other locations
14,Concentrix Corporation,(31.5k),BPO | Bengaluru +178 other locations
15,Amazon,(31k),Internet | Bengaluru +520 other locations
16,iEnergizer,(27.2k),BPO | Noida +51 other locations
17,Reliance Retail,(27.1k),Retail | Mumbai +1156 other locations
18,LTIMindtree,(26k),IT Services & Consulting | Bengaluru +145 othe...
19,IBM,(25.4k),IT Services & Consulting | Bengaluru +161 othe...

In [172]:
final = pd.DataFrame()

for page in range(1, 15):

    url = f"https://www.ambitionbox.com/list-of-companies?page={page}"
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
    webpage = requests.get(url, headers=headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    name = []
    ratings = []
    detail = []
    companies = soup.find_all("div", class_="companyCardWrapper__primaryInformation")
    for company in companies:
        name.append(company.find('h2', class_="companyCardWrapper__companyName").text.strip())

    rating_tags = soup.find_all('span', class_="companyCardWrapper__companyRatingCount")
    for r in rating_tags:
        ratings.append(r.get_text(strip=True))

    detail_tags = soup.find_all('span', class_="companyCardWrapper__interLinking")
    for d in detail_tags:
        detail.append(d.get_text(strip=True))
    df = pd.DataFrame({
        "name": name,
        "rating": ratings,
        "detail": detail
    })

   
    final = pd.concat([final, df], ignore_index=True)

final

,name,rating,detail
0,TCS,(1.1L),IT Services & Consulting | Bengaluru +439 othe...
1,Accenture,(71.8k),IT Services & Consulting | Bengaluru +256 othe...
2,Wipro,(63.8k),IT Services & Consulting | Hyderabad +370 othe...
3,Cognizant,(60.2k),IT Services & Consulting | Hyderabad +230 othe...
4,Capgemini,(51.8k),IT Services & Consulting | Bengaluru +182 othe...
...,...,...,...
275,Varroc Group,(3.1k),Auto Components | Pune +62 other locations
276,Jindal Stainless,(3.1k),Iron & Steel | Jajpur +78 other locations
277,S&P Global,(3k),Analytics & KPO | Hyderabad +47 other locations
278,MSN Laboratories,(3k),Pharma | Hyderabad +105 other locations
279,Future Group,(3k),Retail | Mumbai +207 other locations

In [173]:
final.info()

<class 'pandas.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    280 non-null    str
 1   rating  280 non-null    str
 2   detail  280 non-null    str
dtypes: str(3)
memory usage: 24.3 KB